{% extends '::baseLogin.html.twig' %}

{% block stylesheets %}
<link href="{{ asset('bootstrap/css/signin.css') }}" rel="stylesheet">
{% endblock %}

{% block body %}
{# Hello Im login_symfony page! #}
<div class="container">
		{% if error is not null %}
			<div class="alert-info fade in">
        		<div>{{ error.message }}</div>
        		{# <strong>{{ usuario }}</strong> #}
    		</div>
		{% endif %}
      <form id="loginForm" name="loginForm" class="form-signin" method="POST" action="{{ path('login_check') }}">
        <h2 class="form-signin-heading">Ingreso al sistema</h2>
        
        <label for="inputUser" class="sr-only">Usuario</label>
        <input type="text" id="inputUser" name="_username" value="{{ last_username | default('') }}" class="form-control" placeholder="Usuario" required autofocus>
        
        <label for="inputPassword" class="sr-only">Contraseña</label>
        <input type="password" id="inputPassword" name="_password" class="form-control" placeholder="Contraseña" required>
        
        <div class="checkbox">
          <label>
            <input type="checkbox" value="remember-me" name="_remember_me"> Recuerdame
          </label>
        </div>
        
        <button class="btn btn-lg btn-primary btn-block" type="submit">Ingresar</button>
        
        {# <!-- <a href="{{ path('login_signup') }}">Registrarse</a> --> #}
        
      </form>

    </div> <!-- /container -->
    
    {# 
    {% if usuario is defined%}
    <div class="alert-info fade in">
        <strong>{{ usuario }}</strong>
    </div>
    {%endif%}
    #}
{% endblock %}