{% extends '::base.html.twig' %}

{% block stylesheets %}
	<!-- Custom styles for this template -->
	<!-- <link href="{{ asset('bootstrap/css/navbar.css') }}" rel="stylesheet"> -->
{% endblock %}

{% block body %}
<h1 class="page-header">Libretas</h1>

<!-- {# <table class="table table-hover table-striped table-bordered">
<thead>
        <tr>
            <th>Caja</th>
            <th>Correlativo</th>
            <th>Vendedor</th>
            <th>Acción</th>
        </tr>
    </thead>
    <tbody>
    	{% for libreta in libretas %}
        <tr>
            <td>{{ libreta.caja.numeroCarton }}</td>
            <td>{{ libreta.correlativo }}</td>
            <td>{{ libreta.vendedor }}</td>
            <td>
            	<a class="btn btn-default btn-xs" href="{{ path('admin_update_libreta', { 'libretaId': libreta.id }) }}">Modificar</a>
            </td>
        </tr>
       {% endfor %}
    </tbody>
</table> #} -->
{{ grid(grid, 'APYDataGridBundle::blocks_adminTicketMain.html.twig') }}
{% endblock %}