{% extends '::base.html.twig' %}

{% block stylesheets %}
	<!-- Custom styles for this template -->
	<!-- <link href="{{ asset('bootstrap/css/navbar.css') }}" rel="stylesheet"> -->
{% endblock %}

{% block body %}
<h1 class="page-header">Agregar caja</h1>
{{ form_start (formulario) }}
	{{ form_errors(formulario) }}
	{{ form_widget(formulario) }}
{{ form_end(formulario) }}
{% endblock %}